# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs & Screenshots
*.log
*.jsonl
auto_claim/logs/
auto_claim/screenshots/
auto_logging/logs/
logs/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
